<div class="main_half_view">
<div class="top_navi_title">
デジクリアプリ
</div>
</div>


<div class="login_half_view">
<div class="top_sign_navi">
<%= link_to("ログイン", user_session_path) %>
</div>
</div>

<div class="sign_half_view">
<div class="top_sign_navi">
<%= link_to("アカウント登録", new_user_registration_path) %>
</div>
</div>
