a {
	color:#FFF;
	text-decoration:none;
}
* {
-webkit-appearance: none;

	margin: 0 0;
	padding: 0 0;
}
.seutton img{
	width:18vw;
	float:left;
	opacity:0;
}
.setting-button {
	position:relative;
	top:5vw;
}
.setting-button img{
	width:18vw;
	float:right;
}

.btn-stamp img{
	width:6vw;
	margin-top:1vw;
	margin-left:1vw;
	}

#newaccountmain {
	background-color:#00C039;
	height:100vh;
}

.final-form {
	padding-top:30vw;
}

.final-form h1 {
	padding-bottom:30vw;
	text-align:center;
	color:#FFF;
	font-size:14vw;
	font-family:Meiryo, sans-serif;
}
.field {
	
	width:60vw;
	height:8vw;
	margin-left:20vw;
	margin-bottom:8vw;
	color:#FFF;
}

.field_edit {
	
	width:60vw;
	height:8vw;
	margin-bottom:8vw;
	color:#000;
	font-size:3vw;
}

.input-box_text {
	font-size:5vw;
}
.field input {
	width:60vw;
	height:8vw;
	border:none;
	font-size:5vw;
	border-radius:5px;
}
.actions input{
	margin-top:10vw;
	margin-left:20vw;
	height:9vw;
	width:60vw;
	border:none;
	background-color:#55CB6D;
	color:#FFF;
}
.actions_edit input{
	margin-top:10vw;
	height:9vw;
	width:60vw;
	border:none;
	background-color:#55CB6D;
	color:#FFF;
}
.stamp {
	background-color:#7292C1;
}

.btn-stamp {
	width:8vw;
	height:8vw;
	border-radius:5px;
	background-color:#F4F5F9;
	float:left;
	margin-left:2.5vw;
	margin-top:2vw;

}

.input-box_text {
	width:73vw;
	height:7vw;
	margin-left:2.5vw;
	margin-top:2.5vw;
	border:none;
}

.message {
  width:100%;

}
.message_username {
	float:left;
}

.my_message_name {
	float:right;
	display:none;
}
.message_timestamp {
	float:left;
	position:relative;
	top:40px;
	left:80px;
	padding-top:15px;
  margin-bottom:70px;
}

.my_message_timestamp {
	float:right;
	position:relative;
	right:20px;
	padding-top:15px;
  margin-bottom:40px;
  color:#fff;


}

.message_content {
	text-decoration:none;
	
	float:right;
	pointer-events : none;
}


.message_content span {
	
	margin-left:30px;
	margin-right:30px;
	line-height:2.3em;
	color:#000;
	font-size:4vw;
}

.message_content a {
	
	color:#EEE;
}

.message_content img {
	width:200px;
	height:auto;
}
.my_message_content {
	
	text-decoration:none;
	float:left;
	pointer-events : none;
}
.my_message_content span {
	margin-left:30px;
	margin-right:30px;
	line-height:2.3em;
	color:#000;
	font-size:3vw;
}
.my_message_content img {
	width:200px;
	height:auto;
}

.message_cube {
	max-width:50%;
	height:auto;
	float:left;
	position:relative;
	top:40px;
	left:-80px;
	background-color:#EEE;
	border-radius:10px;
	word-break:break-all;
}
.my_message_cube {
	
	max-width:50%;
	height:auto;
	float:right;
	background-color:#B2EC8B;
	border-radius:10px;
	margin-right:20px;
	word-break:break-all;
}

.my_message_cube_wrap {
	background-color:#EEE;
	border-radius:10px;
}

.message_profile-pic {
	
	width:40px;
	height:40px;
	position: relative;
	float:left;
	overflow:hidden;
	border-radius:50%;
	z-index:2;
	border:1px solid #EEE;
	margin-right:20px;
	margin-left:20px;
}

.message_profile-pic img {
	
  width: 100%;
	height:auto;
display: block;
position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
           -ms-transform: translate(-50%, -50%);
          transform: translate3d(-50%, -50%, 0);
}

.my_message_profile-pic {
	
	width:40px;
	height:40px;
	position: relative;
	float:right;
	overflow:hidden;
	border-radius:50%;
	z-index:2;
	border:1px solid #EEE;
	margin-right:20px;
	margin-left:20px;
	display:none;
}

.my_message_profile-pic img {
	
  width: 100%;
	height:auto;
display: block;
position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
     -moz-transform: translate3d(-50%, -50%, 0);
           -ms-transform: translate(-50%, -50%);
          transform: translate3d(-50%, -50%, 0);
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}